E2E_BASE_URL=http://localhost:3000
E2E_EMAIL=e2e-user@example.com
E2E_PASSWORD=Test@1234
E2E_SKIP_REGISTRATION=false
E2E_API_URL=http://localhost:8080
E2E_ENABLE_PAYMENTS=false
E2E_ENABLE_SECURITY=true
